# Entornos locales
.venv/
.venv313/


# Dataset (descargar aparte ~1.5 GB)
data/

# Python
__pycache__/
*.pyc

# Flutter/Dart
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
